<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".app.PluginComponentApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 2.x 的插件需要运行在 Phantom 2.0.0 及以上版本 -->
        <meta-data
            android:name="phantom.service.import.PhantomVersionService"
            android:value="20000"/>

        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SingleTaskActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".StandardActivity"
            android:launchMode="standard"/>


        <service android:name=".service.PluginIntentService"/>
        <service
            android:name=".service.PluginService">
        </service>
    </application>

</manifest>